<div class="container">
  <div align="center">
    <li>
      <% if user.image?%>
        <%= image_tag user.image_url, size: 30, class:"image-display" %>
      <% else %>
        <%= image_tag("usersmall.png", size: 30) %>
      <% end %>
      <%= link_to user.username, user_path(user),class:"username" %>
    </li>
  </div>
</div>