@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin:0;
  padding:0;
  
}

.center{
  margin:0 auto;
}
.container{
  width:100%;
}

html, body {
	font-size: 16px;
	font-family: sans-serif;
	color: #393939;
	background: #ffffff;
}
body, div, p, h1, h2, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}

a, a:visited, a:hover {
  color : black;
  text-decoration:none;
}

li {
  list-style-type:none;
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  /*word-break: break-all;*/
  overflow-wrap : break-word;
}

td{
  overflow-wrap : break-word;
}

.font-weight-heavy{
  font-size:1rem;
  font-weight: 600;
}
.font-size-small{
  font-size:0.5rem;
}
.navbar{
  margin-bottom:0;
}
.navbar-collapse {
  background:#ffffff;
  padding:0 20px;
  
}

.container-fluid{
  padding-left:0px;
  padding-right:0px;
  
}

.container{
  height:250%;
  width:100%;
  padding:0;

}

.main{
  height:30rem;
  width:100vm;
}

.user_info{
  display:inline-block;
  
}

.user_name{
  display:block;
  text-align:center;
  font-size: 1.5rem;
}

///////////////////alert
.alert{
  text-align: center;
}


// form

.error_message{
  color: red;
  text-align:center;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/////////////////////////////////user/new////////
.main_area{
  display:flex;
  flex-direction: row;
  margin:5vw 10vw;
}

.form-field{
  margin:11vh 0;
}

.login-button{
  color:blue;
}

.under-little-space{
  margin-bottom:2vh;
}
//////////header

.header-list{
  display:flex;
  justify-content: center;
  margin:3vh 0;
  div{
    margin:0 5vw;
  }
}

.header{
  
}

.user-edit-link{
  padding:3vh 0;
}


//////////footer

.footer{
  display:flex;
  justify-content: center;
  margin:3vh 0;
  div{
    margin:0 5vw;
  }
}



////////////session/new
.field{
  margin-top: 3vh;
}

////////////user/show
.flexbox{
  display:flex;
  flex-flow:row;
  padding:0 4vw;
  justify-content:space-around;
  -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.img{
  max-width: 100%;
  width: 300px;
height: 300px;
  
}
.each-picture{
  padding: 1vh;
  margin: 2vw;
}
@media ( max-width : 1207px ){
.img{
  max-width: 100%;
  width: 250px;
  height: 250px;
  
}
}
@media ( max-width : 1044px ){
.img{
  max-width: 100%;
  width: 200px;
  height: 200px;
}
}
@media ( max-width : 776px ){
.img{
  max-width: 100%;
  width: 150px;
  height: 150px;
}
}

@media ( max-width : 588px ){
.img{
  max-width: 100%;
  width: 110px;
  height: 110px;
}
}

@media ( max-width : 438px ){
.img{
  max-width: 100%;
  width: 80px;
  height: 80px;
}
}
@media ( max-width : 321px ){
.img{
  max-width: 100%;
  width: 300px;
  height: 300px;
}
flexbox{
  display:flex;
  padding:column;
  -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
}


// .picture-index{
//   width:100%;
//   display:flex;
//   flex-direction:row;
// }

.user-image{
  margin-right: 5vw;
}

.user-top{
  display:flex;
  
}
.user-middle{
  text-align:left;
  display:flex;
  justify-content:space-between;
}
.user-last{
  li{
    text-align:left;
  }
}
.user-name{
  font-size:2rem;
}
.edit-link{
  margin-top:2.3vh;
  padding-top:3px;
  margin-left:5vw;
  border:solid 1px black;
}

.follow-link{
  margin-top:2.3vh;
  padding-top:3px;
  margin-left:5vw;
  
}

.centerlize{
  justify-content:center;
}

//////////////user/edit
.edit-group{
  display:flex;
  justify-content: center;
}
.edit-factor{
  margin: 5vh 6vw;
  border: solid 1px black;
}
.space{
  margin: 3vh 0;
  padding-right:3vw;
}

.user-flex{
  display:flex;
  flex-direction:row;
  justify-content: center;
  
}

.edit-factor{
  display:inline-black;
  padding: 3px;
}
.flex-edit{
  justify-content:center;
  margin-top:4rem;
}

.under-space{
  margin-bottom:5vh;
}



//////////password_changes/edit
.block{
  display:block;
}

//////////pictures/new
.space-top-left{
 margin-top:4vh;
 margin-left:8vw;
}

///////////pictures/show
.user-flow{
  display:flex;
  flex-direction:row;
  justify-content:center;

  
}
.username{
  font-size:1.2rem;
}

.space-top{
  margin-top:3vh;
}